:root{
    --color-fondo:#e0e689;
    --font-familia:'Roboto', sans-serif;
    --color-primario:#124F88;
    --color-secundario:#F7C331;
    --color_texto-inverso:white;
    --color-texto:black;
    --color-fondo-menu:#E5E5E5;
    --color-fondo-menu-celu: #3A4460;
    --color-fondo-busqueda: #e7e7e7; 	
    --color-formulario:white;
    --color-hover:#949c7c;
    --color-hover-li:#0d0e27;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color:var(--color-fondo)
}

body{
    font-family: var(--font-familia);
    font-size: 18px;
    color: var(--color-texto);
}

h2, h4 { 
    text-align: center;
    padding-bottom: 5px;
}

/* 
https://www.youtube.com/watch?v=iGUMqs1t7sI
*/


.img1{
    width: 230px;
    height: 200px;
    object-fit: cover;
    }

.eje1{
    grid-area: E1;
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.eje2{
    display:grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.eje2-cards{
    width: 100%;
    height: 230px ;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}

.eje2-cards .card-img{
    width: 230px;
    height: 200px;
    object-fit: cover; 
}

.eje2-cards .card{
    width: 200px;
    height: 230px ;
    border-radius: 5px;
    box-shadow: 0 2px 2px var(--color-primario);
    overflow: hidden;
    text-align: center;
    margin: 5px;  
}

.card-footer{
    display:grid;
    
}

.btn{
    height: 20px;
    background-color: #949c7c;
    border-radius: 10p;
    color: black;
    font-weight: bolder;
}


.eje3{
    display:grid;
    justify-content: center;
    align-items: center;

}

.eje3 .eje3-selects{
 width: 100%;
 height: 100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.eje3 .eje3-select{
    width: 200px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.eje3-footer {
    width:200px;
    display:grid;
    justify-content: center;
}

.ingresar{
    width: 200px;
    height: 30px;
    background-color: #949c7c;
    border-radius: 10p;
    color: black;
    font-weight: bolder;
}


